// o nome deve ser RSRC.RC pois o bat bldall.bat utiliza esse nome e fica mais facil
// trabalhar

#define ICONE 500
#define IMG1  100
#define IMG2  101
#define IMG3  103
#define IMG4  104
#define IMG5  105
#define IMG6  106
#define IMG7  107
#define IMG8  108
#define IMG9  109

// define icone e outros a serem utilizados
ICONE ICON MOVEABLE PURE LOADONCALL DISCARDABLE "FAVICON.ICO"

// INDICA O BITMAP A SER UTILIZADO

IMG2 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "avi.bmp"
IMG3 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "background.bmp"
IMG4 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "aviao.bmp"
IMG5 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "avia.bmp"
IMG6 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "bullet.bmp"
IMG7 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "enemy.bmp"
IMG8 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "enemy2.bmp"
IMG9 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "fuel.bmp"

